.boxSizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  .boxSizing()
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgba(128,128,128,0.7);
}

#app {
  width: 100%;
  height: 100%;
}

.blog-list-container {
  width: 100%;
  height: 100%;
  .paper {
    display: flex;
    flex-direction: column;
    // background-color: red !important;
    margin: 10px;
    padding: 0px;
    height: 100%;//~'calc( 100% + 90px )';
  }
}
.add-button {

}
.blog-item {
  padding: 5px;
  // background-color: blue;
  .blog-item-paper {
    background-color: rgba(240,240,240,1) !important;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    /* Firefox */
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;

    .header {
      display: flex;
      justify-content: space-between;
      .blog-item-title {
        font-size: 20px;
      }
      .blog-item-remove-btn {
        display: flex;
        justify-content: space-between;
        width: 200px;
      }
    }

    .blog-item-content {
      min-height: 50px;
    }

    .blog-item-footer {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      .blog-item-readmore {

      }
      .blog-item-date {
        text-align: right;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(190,190,190,1) !important;
    }
  }
}

.blog-screen-container {
  height: 82vh;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .blog-screen-top {
    display: flex;
    justify-content: space-between;
  }
  .blog-screen-title {
    font-size: 24px;
  }
  .blog-screen-date {

  }
}

.blog-screen-content {
  margin-top: 20px;
  height: 100%;
  .body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
